[Unit]
Description=SIMAR sensors service

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/root/simar-software/bin/bme
Restart=always
RestartSec=10
KillMode=control-group

[Install]
WantedBy=multi-user.target
