[Unit]
Description=WPA supplicant
Before=network.target
After=dbus.service
Wants=network.target

[Service]
Type=dbus
BusName=fi.w1.wpa_supplicant1
ExecStart=/root/simar-software/start/simar_wireless.sh
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
